/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*html, body {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/* styles.css */
:root {
  --font-barlow: 'Barlow', sans-serif;
  --font-barlowsemibold: 'Barlow', sans-serif;
  --font-barlowbold: 'Barlow', sans-serif;

  --background: linear-gradient(
    45deg,
    rgba(30, 58, 138, 0.5),
    rgba(59, 130, 246, 0.5),
    rgba(147, 51, 234, 0.5),
    rgba(244, 63, 94, 0.5)
  );
  /* --background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,90,205,1) 100%); */

  --background-size: 300% 300%;
  --animation-gradient: gradientAnimation 8s ease infinite;

  /*canvas {*/
  /*  position : absolute;*/
  /*  z-index : -1;*/
  /*  overflow: hidden;*/
  /*  width:100vw;*/
  /*  height:100vh;*/
  /*  background-color:black;*/
  /*}*/

}

body {
  background-image: url("assets/CoinWeb.gif");
  background-size: cover;
  background-color: khaki;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    45deg,
    rgba(30, 58, 138, 0.5),
    rgba(59, 130, 246, 0.5),
    rgba(147, 51, 234, 0.5),
    rgba(244, 63, 94, 0.5)
  );
  /* background: rgb(1,0,17); */
  /* background: linear-gradient(0deg, rgba(1,0,17,1) 8%, rgb(35, 35, 248) 88%, rgb(64, 66, 223) 97%); */

  /* background: rgb(0,0,0); */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,90,205,1) 100%); */
  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;
}

/* Animación para el degradado */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
