<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md font-regularb my-10">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">User register</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!-- Nombre -->
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium">Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched" class="text-red-900 font-bold text-sm mt-1">
        Name is mandatory and MUST be valid.
      </div>
    </div>

    <!-- Apellido -->
    <div class="mb-4">
      <label for="lastName" class="block text-sm font-medium">Surname</label>
      <input
        id="lastName"
        formControlName="lastName"
        type="text"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div *ngIf="loginForm.get('lastName')?.invalid && loginForm.get('lastName')?.touched" class="text-red-900 font-bold text-sm mt-1">
        Last Name is mandatory and MUST be valid.
      </div>
    </div>

    <!-- Correo electrónico -->
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-900 font-bold text-sm mt-1">
        Email is mandatory and MUST be valid.
      </div>
    </div>
<!--    Contraseña-->
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-900 font-bold text-sm mt-1">
        The password MUST have at least 6 characters.
      </div>
    </div>

    <!-- Fecha de Nacimiento -->
    <div class="mb-4">
      <label for="fechaNacimiento" class="block text-sm font-medium ">Birthdate</label>
      <input
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
        type="date"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    <!-- Imagen -->
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold text-center mb-8">Select a profile picture</h1>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex justify-center">
          <img src="assets/images/profile/perfil1.png" alt="Profile 1" class="w-32 h-32 rounded-full cursor-pointer border-4" [ngClass]="{'border-blue-500': selectedPicture === 'assets/images/profile/perfil1.png', 'border-transparent': selectedPicture !== 'assets/images/profile/perfil1.png'}" (click)="selectProfilePicture('assets/images/profile/perfil1.png')">
        </div>
        <div class="flex justify-center">
          <img src="assets/images/profile/perfil2.png" alt="Profile 2" class="w-32 h-32 rounded-full cursor-pointer border-4" [ngClass]="{'border-blue-500': selectedPicture === 'assets/images/profile/perfil2.png', 'border-transparent': selectedPicture !== 'assets/images/profile/perfil2.png'}" (click)="selectProfilePicture('assets/images/profile/perfil2.png')">
        </div>
        <div class="flex justify-center">
          <img src="assets/images/profile/perfil3.png" alt="Profile 3" class="w-32 h-32 rounded-full cursor-pointer border-4" [ngClass]="{'border-blue-500': selectedPicture === 'assets/images/profile/perfil3.png', 'border-transparent': selectedPicture !== 'assets/images/profile/perfil3.png'}" (click)="selectProfilePicture('assets/images/profile/perfil3.png')">
        </div>
        <div class="flex justify-center">
          <img src="assets/images/profile/perfil4.png" alt="Profile 4" class="w-32 h-32 rounded-full cursor-pointer border-4" [ngClass]="{'border-blue-500': selectedPicture === 'assets/images/profile/perfil4.png', 'border-transparent': selectedPicture !== 'assets/images/profile/perfil4.png'}" (click)="selectProfilePicture('assets/images/profile/perfil4.png')">
        </div>
      </div>

    </div>


    <!-- Botón de Enviar -->
    <div class="mt-6 flex justify-center">
      <button
        type="submit"
        class="bg-primaryRed text-white p-2 rounded hover:bg-red-900 font-regularb font-bold px-5"
      >
        Register User
      </button>
    </div>

  </form>
</div>
