
.text-1 {
  height: 674px;
}

.texth{
  font-size: 20px;
}


.textp{
  width: 100%;
  height: 312px;
  font-size: 20px;
}

.img {
  width: 35%;
  border-radius: 50px;
}

.textd{
  font-size: 20px;
}
